@charset "utf-8";
body { _margin:0; _height:100%; /*IE6 BUG*/ }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
fieldset, img { border: 0; }
img { display:inline-block; }
:focus { outline: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
code, kbd, samp, tt { font-size:100%; }
input, button, textarea, select { *font-size: 100%;}
ol, ul { list-style: none outside none; }
/* dialog ------------------------------------*/
.jeBox{-webkit-background-clip: padding-box;background-clip: padding-box;display:inline-block; width:auto; height:auto;
background:rgba(0,0,0,.4); -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);zoom: 1;}
.jeBox-wrap{display:inline-block;outline: 0;font-family:"Microsoft yahei", Arial;background:#ffffff; border:1px solid #aaa;box-shadow: 1px 1px 25px rgba(0,0,0,.5);}
.jeBox-header{height:40px;line-height:40px;padding:0 36px 0 10px;font-size:16px;background:rgb(69,146,240);border-bottom:1px solid #3484e5;color:#eee;}
.jeBox-content{ line-height:24px; word-break:break-all;font-size:14px; overflow:auto;}
.jeBox-footer{ text-align:right; overflow:hidden; font-family:Arial,"\5b8b\4f53", sans-serif; padding:0 5px;}
.jeBox-footer button {display: inline-block;vertical-align: top;margin: 5px; height: 32px;line-height: 32px; border-radius: 4px; padding: 0 8px; background-color: #f1f1f1;color: #333;border: 1px #ccc solid;font-size: 14px;font-family:"Microsoft yahei", Arial; cursor:pointer;}
.jeBox-footer button.jeBox-btn0{background-color:#0099CC;color:#fff;border: 1px #0099CC solid;}
.jeBox-footer button[disabled]{cursor: default;color: #666; background: #DDD; border: solid 1px #bbb;filter: alpha(opacity=50);opacity: .5;}
.jeBox-headbtn{display: inline-block;position:absolute; right:0; top:0; z-index:1; height:40px;}
.jeBox-headbtn a{color:#b9d7f6;display:block; width:30px; height:40px; line-height:40px;overflow:hidden;float:left; text-decoration:none;}
.jeBox-headbtn a:hover{color:#fff; background-color: rgba(200,200,200,0.3)}
.jeBox-close{ font-family:arial; font-size:30px; font-weight: normal; color:#b9d7f6;text-decoration:none; text-align:center;}
.jeBox-maxbtn{background-position:center center;background-repeat:no-repeat;background-image:url(icon/full.png);}
.jeBox-maxbtn.revert{background-image:url(icon/reduction.png);}
.jeBox-yesbut{display:inline-block; margin:6px 8px 6px 0; height:32px; line-height:0; padding:0 20px; vertical-align:top; font-size:14px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;background:rgb(69,146,240);border:1px #3484e5 solid;color:#fff; text-decoration:none; cursor:pointer; }
.jeBox-yesbut:hover{ background:rgb(69,146,240);}
.jeBox-nobut{display:inline-block; margin:6px 8px 6px 0; height:32px; line-height:0; padding:0 20px; font-size:14px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;background: #ECECEC;border:1px #C3C3C3 solid;color:#333; text-decoration:none;cursor:pointer;}
.jeBox-nobut:hover{ background:#ECECEC;}
.jeBox-mask{width:100%;height:100%;left:0;top:0;margin:0;padding:0;zoom: 1;border:none;position:fixed; _position:absolute;}
.jeBox-moves{position: fixed; border:2px dotted #000; cursor:move; background-color:#fff; background-color:rgb(233,233,233);}
.jeBox-content iframe{display: block;width: 100%;}
.jeBox-content ::-webkit-scrollbar{height:8px;width:8px;margin-right:5px;transition:all 0.3s ease-in-out;border-radius:0px}
.jeBox-content ::-webkit-scrollbar-track { -webkit-border-radius: 0px;border-radius: 0px;}
.jeBox-content ::-webkit-scrollbar-track-piece{background-color:#F3F3F3;}
.jeBox-content ::-webkit-scrollbar-thumb{-webkit-border-radius: 0px;border-radius: 0px;background: rgba(0,0,0,0.5); }
.jeBox-content ::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,0.6)}
.jeBox-content ::-webkit-scrollbar-thumb:active{background:rgba(0,0,0,0.8)}
.jeBox-content ::-webkit-scrollbar-thumb:window-inactive {background: rgba(0,0,0,0.4); }

.jeBox-iconbox{ padding:5px 5px 5px 45px;min-height:30px; line-height:30px;background-position:5px center;font-size:14px; background-repeat:no-repeat;}
.jeBox-iconbox.jeicon1{ background-image:url(icon/jeicon1.png);}
.jeBox-iconbox.jeicon2{ background-image:url(icon/jeicon2.png);}
.jeBox-iconbox.jeicon3{ background-image:url(icon/jeicon3.png);}
.jeBox-iconbox.jeicon4{ background-image:url(icon/jeicon4.png);}
.jeBox-iconbox.jeicon5{ background-image:url(icon/jeicon5.png);}
.jeBox-iconbox.jeicon6{ background-image:url(icon/jeicon6.png);}
.jeBox-iconbox.jeicon7{ background-image:url(icon/jeicon7.png);}

.jeBox-loadbox{ width:80px;line-height:24px; padding-top:40px;font-size:12px; margin:0 auto; text-align:center;  background-repeat:no-repeat;}
.jeBox-loadbox.jeload1{background-image:url(icon/loading1.gif);background-position:center 10px;}
.jeBox-loadbox.jeload2{background-image:url(icon/loading2.gif);background-position:center 5px;}
.jeBox-loadbox.jeload3{background-image:url(icon/loading3.gif);background-position:center 5px;}
